$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
	overflow: hidden;
  color: #FFF;
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
  text-align:center;
  background-color: #181D21;
  margin: 0px;
  overflow: hidden;
}
#info {
  position: absolute;
  top: 0px; width: 100%;
  padding: 5px;
}
a {
  color: #a06851;
}

.footer ul {
	width: 100%;
}
.footer #country-name {
	padding: 10px 20px 10px;
	font-size: 20px;
	font-weight: 200;
	color: #777;
	text-shadow: 0 1px 0 #fff;
	text-align: center;
	width: 100%;
}

#header {
  position: absolute;
  width: 100%;
}

#country-name {
  position: absolute;
  z-index: 999;
}