#opengl-header {
  width: 100%;
  text-align: center;

  h2 {
    padding-top: 20px;
  }
}

#map {
  width: 100%;
  height: 700px;
}

.modal {
  z-index: 99999;

  .modal-header {
    .modal-title {
      color: #161a1f;
    }

    button {
      height: 20px;
    }
  }

  .modal-body {
    h2,
    h3,
    p,
    pre {
      color: #161a1f !important;
    }
  }
}